@font-face {
  font-family: 'Gascogne';
  src: url('./fonts/Gascogne/gascogne-serial-extraLight.woff') format('woff');
  font-weight: 100;
  font-style: normal;
}

@font-face {
  font-family: 'Gascogne';
  src: url('./fonts/Gascogne/gascogne-serial-light.woff') format('woff');
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: 'Gascogne';
  src: url('./fonts/Gascogne/gascogne-serial.woff') format('woff');
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: 'Gascogne';
  src: url('./fonts/Gascogne/gascogne-serial-medium.woff') format('woff');
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: 'Gascogne';
  src: url('./fonts/Gascogne/gascogne-serial-bold.woff') format('woff');
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: 'Gascogne';
  src: url('./fonts/Gascogne/gascogne-serial-extraBold.woff') format('woff');
  font-weight: 800;
  font-style: normal;
}

@font-face {
  font-family: 'Gascogne';
  src: url('./fonts/Gascogne/gascogne-serial-heavy.woff') format('woff');
  font-weight: 900;
  font-style: normal;
}














@font-face {
  font-family: 'Circular';
  src: url('./fonts/Circular_STD/circularstd-book.woff') format('woff');
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: 'Circular';
  src: url('./fonts/Circular_STD/circularstd-bookItalic.woff') format('woff');
  font-weight: 400;
  font-style: italic;
}

@font-face {
  font-family: 'Circular';
  src: url('./fonts/Circular_STD/circularstd-medium.woff') format('woff');
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: 'Circular';
  src: url('./fonts/Circular_STD/circularstd-mediumItalic.woff') format('woff');
  font-weight: 500;
  font-style: italic;
}

@font-face {
  font-family: 'Circular';
  src: url('./fonts/Circular_STD/circularstd-bold.woff') format('woff');
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: 'Circular';
  src: url('./fonts/Circular_STD/circularstd-boldItalic.woff') format('woff');
  font-weight: 700;
  font-style: italic;
}

@font-face {
  font-family: 'Circular';
  src: url('./fonts/Circular_STD/circularstd-black.woff') format('woff');
  font-weight: 800;
  font-style: normal;
}

@font-face {
  font-family: 'Circular';
  src: url('./fonts/Circular_STD/circularstd-blackItalic') format('woff');
  font-weight: 800;
  font-style: italic;
}