.footer {
    background-color: $white;
    box-shadow: 0 -4px 4px 0 rgba(0, 0, 0, .1);

    &-top-wrapper {
        align-items: center;
        display: flex;
        justify-content: space-between;
        padding: 15px 0;

        @media (max-width: $medium) {
            flex-direction: column;
            padding: 30px 0;
        }
    }

    &-copyright {
        border-top: 1px solid rgba(0, 0, 0, .06);

        &-wrapper {
            align-items: center;
            display: flex;
            flex-wrap: wrap;
            justify-content: space-between;
            padding: 0.75em 0;
        }

        .copyright,
        .credits {
            color: #BEBEBE;
            font-size: 1.2rem;
            letter-spacing: 0.03rem;
        }

        .credits {
            text-transform: uppercase;
        }
    }
}