.site {
    &-wrapper {
        margin: 0 auto;
        max-width: 1980px;
        padding: 0 20px;
    }

    &-masthead {
        background-image: url('../img/cic-illustration-masthead.svg');
        background-position: top center;
        background-repeat: no-repeat;
        background-size: cover;
        overflow: hidden;
        padding-top: 50px;
        text-align: center;

        @media (min-width: $medium + 1) {
            min-height: 900px;
        }
    }
}